body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4;
    margin: 0px;
}

h1 {
    text-decoration: underline;
    
}

section{
    font-size: 25px;
    margin-left: 30px;
}

article {
    margin-left: 30px;
    margin-right: 900px;
    font-size: 25px;
    margin-top: -500px;
}

aside{
    background-color: #172d67;
    color: white;
    padding: 10px 60px;
    margin-left: 1130px;
    margin-top: -100px;

}

footer{
    background-color: #8c15e9;
    color: white;
    text-align: center;
    font-size: 17px;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}
.header{
    background-color: #17072b;
    text-align: center;
    padding: 20px 50px;
    color: white;
    font-size: 25px;


}
.menu {
    background-color: #17072b;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    
    
        
}
    
.menu a {
color: white;
text-align: center;
padding: 20px 30px;
text-decoration: none;
font-weight: bold;
font-size: 25px;
    
}
    
.menu a:hover {
background-color: whitesmoke;
color: black;
}

.img {
    text-align: center;
}