.box {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 180px;
    grid-template-areas: 
    "a a a a b b b b b"
    "a a a a b b b b b"
    "a a a a b b b b b"
    "c c c c c c c c c"
    ;
    align-items: start;
  }
  .image1 {
    grid-area: a;
    padding: 0px 220px;
    
  }
  .image2 {
    grid-area: b;
    padding: 0px 50px;  
    
  }
  .image3 {
    grid-area: c;
    padding: 0px 610px;
    text-align: center;
  }
  